@Html.ValidationSummary(true)
@Styles.Render("~/Content/ValidCreate.css")

@{
    ViewBag.Title = "Сброс пароля";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { style = "min-height: 35em;" }))
{
    @Html.AntiForgeryToken();
    <h4 class="mt-4">Сброс пароля</h4>
    <div class="form-row">
        <div class="m-3 form-group col-md-6">
            @Html.Label("email", "Email:", new { @class = "mb-2" })
            @Html.TextBox("email", (string)ViewBag.Email, null, new { type = "email", @class = "form-control" })
            @Html.ValidationMessage("email")
        </div>
        <div class="form-group col-md-6">
            <input type="submit" class="m-3 btn btn-primary" value="Отправить письмо" />
        </div>
    </div>
}