@model Diploma_project.Models.FilesGalery
@Html.ValidationSummary(true)
@Styles.Render("~/Content/ValidCreate.css")

@{
    ViewBag.Title = "Изменить фото";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

@using (Html.BeginForm("EditPhoto", "Galery", FormMethod.Post, new { enctype = "multipart/form-data", style = "min-height: 35em;" }))
{
    <div class="form-row">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.FileString)
        @Html.HiddenFor(m => m.FileName)
        @Html.HiddenFor(m => m.Format)
        @Html.HiddenFor(m => m.Status)
        <div class="ml-3 mt-3 form-group col-md-6">
            <h2>Изменить медиа № @Model.Id</h2>
        </div>
        <div class="ml-3 form-group col-md-6">
            @Html.LabelFor(m => m.Tittle, "Название медиа:", new { @class = "mb-2" })
            @Html.TextBoxFor(m => m.Tittle, new { @class = "form-control", placeholder = "Введите название" })
            @Html.ValidationMessageFor(m => m.Tittle)
        </div>
        <div class="ml-3 form-group col-md-6">
            @Html.LabelFor(m => m.FileString, "Выберите новый файл:", new { @class = "mb-2" })
            @Html.TextBox("uploadImage", null, new { type = "file", @class = "form-control", @id = "uploadImage", @accept = "image/*" })
            @Html.ValidationMessage("uploadImage")
        </div>
        <div class="form-group col-md-6">
            <input type="submit" class="ml-3 btn btn-primary" value="Сохранить изменения" />
        </div>
    </div>
}



