@model Diploma_project.Models.Position
@{
    ViewBag.Title = "Изменить должность";
}

<div class="modal-content">
    <div class="modal-header">
        <p class="h4 fw-normal">Изменение должности</p>
        @Html.ActionLink("Х", "ListUser", "Home")
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("EditPosition", "Position", FormMethod.Post, new { @class = "form-floating text-center col-11" }))
        {
            Html.AntiForgeryToken();
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Status)
            <div class="form-row">
                <div class="m-3 form-group col-md-6">
                    @Html.TextBoxFor(m => m.Tittle, new { type = "text", @class = "form-control", placeholder = "Введите название", @required = "required", @pattern = "^([А-ЯЁ]{1}[а-яё-/s]{1,50})$", title = "Текст должен содержать только латинские буквы и дефис" })
                    @Html.ValidationMessageFor(m => m.Tittle)
                </div>
                <input type="submit" class="m-3 btn btn-primary mt-3" value="Сохранить изменения" />
            </div>
        }
    </div>
</div>